$bd-primary:         #337ab7 !default;
$bd-success:         #5cb85c !default;
$bd-info:            #5bc0de !default;
$bd-warning:         #f0ad4e !default;
$bd-danger:          #d9534f !default;

$baseFontColor : #555;        //字体颜色
$baseBorderColor: #d9d9d9;    //边框颜色
$baseBgColor: white;          //网站背景颜色
$linkBaseColor : #999;        //链接颜色
$linkBaseHoverColor: #717171; //链接悬浮颜色
$linkTitleColor: #555;        //标题链接颜色
$linkTitleHoverColor: black;  //标题链接悬浮颜色
$linkLightColor: #4094c7;     //高亮链接颜色
$linkLightHoverColor: #075b8d;//高亮链接悬浮颜色
$tagActiveColor: white;       //标签激活字体颜色
$tagActiveBgColor: #e78170;   //标签激活背景颜色
$tagBgColor: transparent;     //标签背景色
$tagBdColor: #d9d9d9;         //标签边框颜色
