
@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../GothamPro-Medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'),
	     url('../GothamPro-Medium/GothamPro-Medium.woff') format('woff'), url('../GothamPro-Medium/GothamPro-Medium.ttf')  format('truetype'), url('../GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
